<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>3360417_235017538324_2.jpg</string>
		<string>3360417_100611659172_2.jpg</string>
		<string>6752779_183003432323_2.jpg</string>
	</array>
</array>
</plist>
