<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
        <dict>
            <key>img</key>
            <string>icon_mine_comment</string>
            <key>title</key>
            <string>团购订单</string>
            <key>filmorder</key>
            <string></string>
            <key>commonfoot</key>
            <string></string>
        </dict>
        <dict>
            <key>img</key>
            <string>icon_mine_comment</string>
            <key>title</key>
            <string>预订订单</string>
            <key>filmorder</key>
            <string>电影选座、酒店快订、KTV预订</string>
            <key>commonfoot</key>
            <string></string>
        </dict>

    </array>
    <array>
        <dict>
            <key>img</key>
            <string>icon_mine_comment</string>
            <key>title</key>
            <string>我的评价</string>
            <key>filmorder</key>
            <string></string>
            <key>commonfoot</key>
            <string>查看我的足迹</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>img</key>
            <string>icon_mine_comment</string>
            <key>title</key>
            <string>每日推荐</string>
            <key>filmorder</key>
            <string></string>
            <key>commonfoot</key>
            <string>new</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>img</key>
            <string>icon_mine_comment</string>
            <key>title</key>
            <string>会员俱乐部</string>
            <key>filmorder</key>
            <string></string>
            <key>commonfoot</key>
            <string></string>
        </dict>
        <dict>
            <key>img</key>
            <string>icon_mine_comment</string>
            <key>title</key>
            <string>我的抽奖</string>
            <key>filmorder</key>
            <string></string>
            <key>commonfoot</key>
            <string></string>
        </dict>
        <dict>
            <key>img</key>
            <string>icon_mine_comment</string>
            <key>title</key>
            <string>我的抵用券</string>
            <key>filmorder</key>
            <string></string>
            <key>commonfoot</key>
            <string></string>
        </dict>
    </array>
</array>
</plist>
