<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>我的收藏 icon_user</string>
		<string>浏览记录 icon_user</string>
		<string>通知 icon_user</string>
	</array>
	<array>
		<string>设置 icon_user</string>
	</array>
</array>
</plist>
